# Laravel
/storage
/vendor
/public/css
/public/js
/resources/assets/vendor
/node_modules
.env

# testing
tests/_output/*

# composer
composer.phar
composer.lock

#ide-helper
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php

#public
public/libraries
public/robots.txt
public/favicon.ico

#symlinks
public/img/news
public/img/partners
public/img/schedules
public/img/settings
public/img/slides
public/img/users
public/img/videos
public/img/registration
public/img/photos
public/files/registration

tests/_envs/
