////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * COMMON TO ALL SIZES OF DEVICES
 **********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

/***********************************************************************************************************************
 * IMPORTS
 **********************************************************************************************************************/
@import 'app.common';

html {

  body {

    #layout {

      #content.error {

        .logo {
          min-height: 340px;
          padding: 10px;
          @include border-radius(50%);
          border: dashed 1px $gray-light;

          div {
            @include border-radius(50%);

            @extend .btn-primary;

            &:hover {
              @include transition(0.2s ease);
            }
          }
        }

        h1 {
          margin: 30px 0 15px;
          font-size: 45px;
          text-align: center;
        }

        h2 {
          font-size: 30px;
          margin: 0 0 30px;
          text-align: center;
        }
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * EXTRA SMALL DEVICES : 767 & LESS (SM)
 **********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 767px) {

  html {

    body {

      #layout {

        #content.error {

          .logo {
            height: 260px;
            padding: 17px 0;

            img {
              width: 240px;
              height: 224px;
            }
          }
        }
      }
    }
  }
}