////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * COMMON TO ALL SIZES OF DEVICES
 **********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * IMPORTS & VARIABLES
 **********************************************************************************************************************/
@import 'app.common';
@import '../vendor/eonasdan-bootstrap-datetimepicker/src/sass/bootstrap-datetimepicker-build';

$logo_header_footer: '../../img/logo-una-header-large-white.png';

html {

  body {

    #layout {

      h2 {
        margin: 40px 0 20px;
        font-size: 36px;

        &:first-of-type {
          margin: 40px 0 20px;
        }
      }

      header {

        .navbar {
          margin-bottom: 0;

          .navbar-header {

            .navbar-brand {
              color: #dedede;

              h1 {
                @include lato-font('thin');
                display: inline-block;
                font-size: 18px;
                margin: 0;
                color: inherit;
              }


              &:hover {
                background-color: #090909;
                color: #fff;
              }
            }
          }

          .nav.navbar-right {

            &.top-nav {
              margin: 0;

              li {

                a {
                  padding: 15px;
                  min-height: 50px;
                  color: #dedede;

                  &:hover {
                    background-color: #090909;
                    color: #fff;
                  }
                }

                &.open {

                  a {
                    background-color: #090909;
                    color: #fff;
                  }

                  ul {
                    margin: 0;
                    padding: 0;

                    li {
                      width: 100%;

                      a {
                        background-color: #fff;
                        color: #333;
                        padding: 10px 20px;
                        min-height: 0;

                        &:hover {
                          background-color: #EEEEEE;
                        }
                      }

                      &.divider {
                        height: 1px;
                        margin: 0;
                        overflow: hidden;
                        background-color: #e5e5e5;
                      }
                    }
                  }
                }
              }
            }
          }

          .navbar-collapse {
            max-height: 340px;
            margin: 0;

            .side-nav {

              & li {
                width: 100%;

                a{

                  &:hover {
                    background-color: #090909;
                    color: #fff;
                  }
                }

                ul {
                  list-style-type: none;
                  padding: 0;
                  margin: 0;
                  border-right: solid 1px #EEEEEE;
                  font-size: 14px;

                  li {
                    height: auto;
                    display: block;

                    a {
                      display: block;
                      color: #333;
                      padding: 10px 0 10px 40px;
                      background-color: #fff;

                      &:hover {
                        background-color: #EEEEEE;
                        color: #333;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      #wrapper {

        #content {
          padding: 15px 30px;

          .bootstrap-datetimepicker-widget {

            ul {

              li {
                margin: 0;
                padding: 0 15px;
              }
            }
          }

          .table-list {

            .table-commands, .table-nav-infos, .pagination {
              margin: 15px 0;
            }

            .table-nav-infos {
              line-height: 33px;
            }

            .search {
              width: 250px;
              display: inline-table;
            }

            .lines {
              margin-left: 15px;
              width: 100px;
              display: inline-table;
            }
          }
        }
      }

      .table-list {

        .form-inline {
            width: auto;
            display: inline-block;
        }
      }

      .panel {

        .panel-heading {

          h3 {
            margin: 0;
          }
        }

        .panel-body {

          p {
            margin-top: 0;
          }

          .form-group {
            width: 400px;

            &:last-of-type {
              margin: 0;
            }
          }
        }
      }
    }
  }
}






////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * EXTRA LARGE DEVICES DESKTOPS : 1921 & MORE
 **********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (min-width: 1921px) {

  html {

    body {

      #layout {

        .navbar-collapse {
          max-height: 340px;
          margin: 0;

          .side-nav {
            border-top: solid 1px #090909;
            margin: 0;
            display: block;
            height: auto;
            position: fixed;
            top: 51px;
            left: 225px;
            bottom: 0;
            width: 225px;
            margin-left: -225px;
            background-color: #222;
            padding-bottom: 40px;
            overflow-y: auto;
            overflow-x: hidden;
          }
        }

        #wrapper {
          padding-left: 225px;
          margin-top: 50px;
        }
      }
    }
  }
}





////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * LARGE DEVICES DESKTOPS : 1920 <=> 1200 (LG)
 **********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 1920px) and (min-width: 1200px) {

  html {

    body {

      #layout {

        .navbar-collapse {
          max-height: 340px;
          margin: 0;

          .side-nav {
            border-top: solid 1px #090909;
            margin: 0;
            display: block;
            height: auto;
            position: fixed;
            top: 51px;
            left: 225px;
            bottom: 0;
            width: 225px;
            margin-left: -225px;
            background-color: #222;
            padding-bottom: 40px;
            overflow-y: auto;
            overflow-x: hidden;
          }
        }

        #wrapper {
          padding-left: 225px;
          margin-top: 50px;
        }
      }
    }
  }
}





////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * MEDIUM DEVICES DESKTOPS : : 1199 <=> 992 (MD)
 **********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 1199px) and (min-width: 992px) {

  html {

    body {

      #layout {

        .navbar-collapse {
          max-height: 340px;
          margin: 0;

          .side-nav {
            border-top: solid 1px #090909;
            margin: 0;
            display: block;
            height: auto;
            position: fixed;
            top: 51px;
            left: 225px;
            bottom: 0;
            width: 225px;
            margin-left: -225px;
            background-color: #222;
            padding-bottom: 40px;
            overflow-y: auto;
            overflow-x: hidden;
          }
        }

        #wrapper {
          padding-left: 225px;
          margin-top: 50px;
        }
      }
    }
  }
}




////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * SMALL DEVICES TABLETS : 991 <=> 768 (SM)
 **********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 991px) and (min-width: 768px) {

  html {

    body {

      #layout {

        .navbar-collapse {
          max-height: 340px;
          margin: 0;

          .side-nav {
            border-top: solid 1px #090909;
            margin: 0;
            display: block;
            height: auto;
            position: fixed;
            top: 51px;
            left: 225px;
            bottom: 0;
            width: 225px;
            margin-left: -225px;
            background-color: #222;
            padding-bottom: 40px;
            overflow-y: auto;
            overflow-x: hidden;
          }
        }

        #wrapper {
          padding-left: 225px;
          margin-top: 50px;
        }
      }
    }
  }
}





////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * EXTRA SMALL DEVICES : 767 & LESS (SM)
 **********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 767px) {

  html {

    body {

      #layout {

        header {

          nav {

            .navbar-header {

              .navbar-toggle {
                margin-top: 15px;
              }

              a {
                max-width: 250px;

                h1 {

                }
              }
            }

            .navbar-collapse {

              .side-nav {
              }
            }
          }
        }
      }
    }
  }
}