////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * COMMON TO ALL SIZES OF DEVICES
 **********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * IMPORTS & VARIABLES
 **********************************************************************************************************************/
@import 'app.front';

html {

  body {

    #layout {

      #content.leading-team {

        .team {
          margin: 0 0 100px 0;

          &:last-of-type {
            margin: 0;
          }

          .title {
            margin: 0 0 15px;
            padding: 0;

            .picto {
              width: 40px;

              div {
                text-align: center;
                height: 40px;
                width: 40px;
              }

              i.fa {
                font-size: 30px;
                margin: 0;
                padding: 0;
                opacity: 0.5;

                &:hover {
                  @include spin(1s);
                  @include transition(2s ease);
                  opacity: 1;
                }
              }
            }

            h3 {
              margin: 0;
              padding: 0;
            }
          }

          .subtitle {
            margin: 0 0 0 13px;
          }

          .member {
            display: inline-block;
            margin: 15px;
            padding: 0;

            &:hover {
              opacity: 0.7;
              @include transition(0.2s ease);
            }

            h4, h5 {
              margin: 0;
              text-align: center;
              width: 145px;
            }

            h4 {
              font-size: 18px;
              height: 50px;

              span {
                padding: 5px 0 0;
              }
            }

            h5 {
              padding: 0;
              height: 35px;

              span {
                vertical-align: top;
              }
            }
          }

          &.student_leading_board i.fa:hover {
            color: #2D3E4F;
          }

          &.leading_board i.fa:hover {
            color: #75706B;
          }

          &.executive_committee i.fa:hover {
            color: #503B2D;
          }

          &.employee i.fa:hover {
            color: #652623
          }
        }
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * EXTRA LARGE DEVICES DESKTOPS : 1920 & MORE
 **********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (min-width: 1920px) {

  html {

    body {

      #layout {

        #content {

        }
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * LARGE DEVICES DESKTOPS : 1919 <=> 1200 (LG)
 **********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 1919px) and (min-width: 1200px) {

  html {

    body {

      #layout {

        #content {

        }
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * MEDIUM DEVICES DESKTOPS : : 1199 <=> 992 (MD)
 **********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 1199px) and (min-width: 992px) {

  html {

    body {

      #layout {

        #content {

        }
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * SMALL DEVICES TABLETS : 991 <=> 768 (SM)
 **********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 991px) and (min-width: 768px) {

  html {

    body {

      #layout {

        #content {

        }
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * CUSTOM DEVICE SIZE : 767 & LESS (SM)
 **********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 767px) {

  html {

    body {

      #layout {

        #content.leading-team {

          .text-content {

            .container {

              .team {
                text-align: center;

                .title {

                  .picto {
                    text-align: right;

                    div {
                      display: inline-block;
                      line-height: 50px;
                      padding-right: 5px;
                    }
                  }

                  .picto.student_leading_board {
                    width: 33%;
                  }
                  .picto.leading_board {
                    width: 45%;
                  }
                  .picto.executive_committee {
                    width: 36%;
                  }
                  .picto.employee {
                    width: 44%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}