////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * COMMON TO ALL SIZES OF DEVICES
 **********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

/***********************************************************************************************************************
 * IMPORTS & VARIABLES
 **********************************************************************************************************************/
@import 'app.front';

#content.news-list {

  .text-content{

    .categories {
      margin: - 30px 0 45px;

      a {

        &:after {
          content: " - ";
          color: #000;
        }

        &:last-of-type {

          &:after {
            content: "";
          }
        }

        &.selected {
          @include lato-normal();
        }
      }
    }

    .table {

      tbody {

        tr {

          &.news {

            td {
              text-align: justify;
              border: 0;
              height: 220px;
            }

            .img, .content, .button {
              vertical-align: middle;

              a {
                padding: 0;
                background-color: transparent;

                &:hover {
                  opacity: 0.7;
                  @include transition(opacity 0.2s ease);
                }
              }
            }

            .img {
              padding-left: 40px;

              a {
                @include border-radius(50%);
                border: solid 1px #ccc;

                img {
                  padding: 10px;
                }
              }
            }

            .content {

              a.img {
                @include border-radius(4px);
                border: solid 1px #ccc;
                margin-bottom: 12px;

                img {
                  @include border-radius(14px);
                  padding: 10px;
                }
              }

              h2 {
                margin: 5px 0;
              }

              .date, .category, .photo_album, .video, .author, .comments {
                display: inline-block;
                margin-right: 15px;
              }

              .comments {
                color: $brand-primary;
              }

              .sum_up {
                margin-top: 8px;
              }
            }

            .button {
              padding-right: 40px;

              button {
                @include border-radius(50%);
                width: 60px;
                height: 60px;
                background-color: transparent;
                border: solid 1px #ccc;

                i.fa {
                  font-size: 40px;
                  color: $brand-primary;
                }
              }
            }
          }
        }
      }

      tfoot {

        tr.pagination-container {

          td {
            padding: 0;
            border-top: 0;
          }
        }
      }
    }
  }
}

#content.news-detail {

  .text-content {

    .container {

      h1 {
        margin-bottom: 10px;
      }

      a {
        @include lato-normal();
      }

      .date {
        margin-bottom: 5px;
      }

      .category {
        margin-bottom: 50px;
      }

      .author {
        padding-top: 50px;
      }

      .media {
        margin: 0 0 30px 0;

        a {
          display: inline-block;
          @include border-radius(7px);
          padding: 15px;
          margin: 0 15px 0 0;

          //background-color: $gray-lighter;

          .image {
            display: inline-block;
            vertical-align: middle;
            margin: 0 5px 0 0;

            img {
              @include border-radius(4px);
            }
          }

          .detail {
            display: inline-block;
            vertical-align: middle;

            h3, h4{
              font-size: $font-size;
              margin: 0;
            }

            h3 {
              @include lato-normal();
              display: inline-block;
            }
          }

          //&:hover {
          //  @include opacity(0.7);
          //  @include transition(opacity 0.2s ease);
          //}
        }
      }

      .return {

        button {
          background-color: transparent;
          border: solid 1px #ccc;
        }
      }
    }
  }
}




////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * EXTRA SMALL DEVICES : 767 & LESS (SM)
 **********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 767px){

  #content.news-list {

    .text-content {

      .table {

        tr.news {

          td.content {
            padding: 30px 20px;
            text-align: left;

            .button.mobile {
              padding: 10px 0 0;

              button {
                @include border-radius(6px);
                width: auto;
                height: auto;

                & > i.fa {
                  font-size: $font-size;
                }
              }
            }
          }
        }
      }
    }
  }

  #content.news-detail {

    .text-content {

      .container {

        div.author {
          float: none !important;
          padding-top: 30px;
        }
      }
    }
  }
}