////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * COMMON TO ALL SIZES OF DEVICES
 **********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * IMPORTS & VARIABLES
 **********************************************************************************************************************/
@import 'app.common';

$logo_header_footer: '../../img/logo-una-header-large-white.png';


html {

  body {

    #layout {

      header {

        .navbar {
          margin-bottom: 0;
          background-color: #333333;

          .navbar-header {

            .navbar-brand {
              color: #dedede;

              h1 {
                @include lato-font('thin');
                display: inline-block;
                font-size: 18px;
                margin: 0;
                color: inherit;
              }


              &:hover {
                background-color: #222222;
                color: #fff;
              }
            }
          }

          .nav {
            padding-left: 0;
            margin-bottom: 0;
            list-style: none;

            &.navbar-top-links {
              margin: 0;

              li {
                display: inline-block;

                a {
                  padding: 15px;
                  min-height: 50px;
                  color: #dedede;

                  &:hover {
                    background-color: #222222;
                    color: #fff;
                  }
                }

                &.open {

                  a {
                    background-color: #222222;
                    color: #fff;
                  }

                  ul {
                    margin: 0;

                    li {
                      width: 100%;


                      a {
                        background-color: #fff;
                        color: #333;
                        padding: 10px 20px;
                        min-height: 0;

                        &:hover {
                          background-color: #EEEEEE;
                        }
                      }

                      &.divider {
                        height: 1px;
                        margin: 9px 0;
                        overflow: hidden;
                        background-color: #e5e5e5;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}






////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * EXTRA LARGE DEVICES DESKTOPS : 1921 & MORE
 **********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (min-width: 1921px) {

}





////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * LARGE DEVICES DESKTOPS : 1920 <=> 1200 (LG)
 **********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 1920px) and (min-width: 1200px) {

}





////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * MEDIUM DEVICES DESKTOPS : : 1199 <=> 992 (MD)
 **********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 1199px) and (min-width: 992px) {

}




////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * SMALL DEVICES TABLETS : 991 <=> 768 (SM)
 **********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 991px) and (min-width: 768px) {

}





////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * EXTRA SMALL DEVICES : 767 & LESS (SM)
 **********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 767px) {

}