/***********************************************************************************************************************
 * PATH MODIFICATION
 **********************************************************************************************************************/
$fa-font-path: "../../fonts/fontawesome";
$lato-font-path: '/fonts/lato';



/***********************************************************************************************************************
 * IMPORTS
 **********************************************************************************************************************/
@import '../vendor/bootstrap-sass-official/assets/stylesheets/bootstrap';
@import '../vendor/fontawesome/scss/font-awesome';
@import '../vendor/lato-font/scss/public-api';



/***********************************************************************************************************************
 * MIXINS
 **********************************************************************************************************************/
@include lato-include-font('black');
@include lato-include-font('medium');
@include lato-include-font('light');
@include lato-include-font('thin');



/***********************************************************************************************************************
 * MIXINS
 **********************************************************************************************************************/
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin spin($time){
  -webkit-animation:spin $time linear infinite;
  -moz-animation:spin $time linear infinite;
  animation:spin $time linear infinite;
}
@-moz-keyframes spin {
  100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  100% { transform:rotate(360deg); }
}

@mixin fadeIn($time){
  -webkit-animation: fadeIn $time; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeIn $time; /* Firefox < 16 */
  -ms-animation: fadeIn $time; /* Internet Explorer */
  -o-animation: fadeIn $time; /* Opera < 12.1 */
  animation: fadeIn $time;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}
/* Firefox < 16 */
@-moz-keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}
/* Internet Explorer */
@-ms-keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}
/* Opera < 12.1 */
@-o-keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@mixin fadeOut($duration){
  -webkit-animation: fadeOut $duration; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeOut $duration; /* Firefox < 16 */
  -ms-animation: fadeOut $duration; /* Internet Explorer */
  -o-animation: fadeOut $duration; /* Opera < 12.1 */
  animation: fadeOut $duration;
}
@keyframes fadeOut {
  from { opacity: 1; }
  to   { opacity: 0; }
}
/* Firefox < 16 */
@-moz-keyframes fadeOut {
  from { opacity: 1; }
  to   { opacity: 0; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeOut {
  from { opacity: 1; }
  to   { opacity: 0; }
}
/* Internet Explorer */
@-ms-keyframes fadeOut {
  from { opacity: 1; }
  to   { opacity: 0; }
}
/* Opera < 12.1 */
@-o-keyframes fadeOut {
  from { opacity: 1; }
  to   { opacity: 0; }
}

/***********************************************************************************************************************
 * GENERAL
 **********************************************************************************************************************/

html {
  height: 100%;

  body {
    @include lato-font('light');
    font-size: 16px;
    height: 100%;

    #layout {
      position: relative;

      h1, h2, h3, h4, h5, h6 {
        margin: 10px 0;
        @include lato-font('thin');
        color: #5a5a5a;
        text-align: left;
      }

      h2{

        &:first-of-type {
          margin-top: 0;
        }
      }

      p {
        font-size: 16px;
        @include lato-font('light');
      }

      p, ul, ol {
        margin: 15px 0;
      }

      p.quote {
        @include lato-font('light', italic);
      }

      a.btn {
        @include lato-font('light');
      }

      .noscript {
        background-color: #761c19;
        padding: 15px;
        color: #FFFFFF;
      }

      a {

        &:hover {
          text-decoration: none;
          @include transition(0.2s ease);
        }

        &:focus {
          text-decoration: none;
        }
      }

      img {

        &:hover {
          @include transition(0.2s ease);
        }
      }

      b, .strong {
        @include lato-font('medium');
      }

      #content {

        ol, ul {
          padding: 0;

          p {
            margin: 0;
          }

          li {
            margin: 0 0 0 25px;
            padding: 0;
          }
        }
      }

      ul.pagination {
        margin: 30px 0 20px;

        li {
          margin: inherit;
        }
      }

      .fill {
        height: 100%;
        min-height: 100%;
      }

      .display-table {
        display: table;
        width: 100%;
        max-width: 100%
      }

      .table-cell {
        display: table-cell;
        vertical-align: middle;
      }

      .table-row {
        display: table-row;
        vertical-align: middle;
      }

      hr {
        margin: 20px 0 50px;
      }

      i.fa {
        font-size: inherit;
        color: inherit;
      }

      .box_shadow {
        @include box-shadow(0px 0px 7px 0px rgba(0, 0, 0, .7));
      }

      .box_shadow_inset {
        @include box-shadow(inset 0px 0px 7px 0px rgba(0, 0, 0, .7));
      }

      .return {
        padding: 45px 0 0;

        a {
          padding: 20px 0;

          button {
            @include border-radius(50%);
            width: 35px;
            height: 35px;
            background-color: #fff;
            padding: 0;

            i.fa {
              font-size: 25px;
              color: #337ab7;
            }
          }

          span {
            text-transform: uppercase;
          }

          &:hover {
            opacity: 0.7;
          }
        }

      }

      .btn {

        &.btn-default {
          color: #fff;
          background-color: #aeb6cb;
          border-color: #aeb6cb;

          &:hover {
            background-color: #95a0bb;
            border-color: $gray-lighter;
          }
        }
      }
    }
  }
}





/***********************************************************************************************************************
 * ERROR PAGES
 **********************************************************************************************************************/
html {

  body {

    #layout {

      .modal {

        h3, h4 {
          margin: 0;
          color: inherit;
        }
      }
    }
  }
}




/***********************************************************************************************************************
 * ERROR PAGES
 **********************************************************************************************************************/
#content.error{

  .container {

    .title {
      margin: 40px 0 0;

      h1, h2 {
        text-align: center;
      }
    }

    .details {
      margin: 0 0 40px;
      font-size: 18px;
    }

    .actions {
      i {
        font-size: 20px;
      }
    }
  }
}






////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * EXTRA LARGE DEVICES DESKTOPS : 1921 & MORE
 **********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (min-width: 1921px){

  html {

    body {

      #layout {

        h2 {
          margin: 100px 0 65px;
          font-size: 45px;
        }

        h3 {
          font-size: 30px;
          margin: 65px 0 30px;
        }

        h4 {
          font-size: 22px;
          margin: 50px 0 15px;
        }
      }
    }
  }
}



////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * LARGE DEVICES DESKTOPS : 1920 <=> 1200 (LG)
 **********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 1920px) and (min-width: 1200px){

  html {

    body {

      #layout {

        h2 {
          margin: 100px 0 65px;
          font-size: 45px;
        }

        h3 {
          font-size: 30px;
          margin: 65px 0 30px;
        }

        h4 {
          font-size: 22px;
          margin: 50px 0 15px;
        }
      }
    }
  }
}



////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * MEDIUM DEVICES DESKTOPS : : 1199 <=> 992 (MD)
 **********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 1199px) and (min-width: 992px){

  html {

    body {

      #layout {

        h2 {
          margin: 75px 0 50px;
          font-size: 30px;
        }

        h3 {
          font-size: 22px;
          margin: 50px 0 22px;
        }

        h4 {
          font-size: 18px;
          margin: 35px 0 12px;
        }
      }
    }
  }
}




////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * SMALL DEVICES TABLETS : 991 <=> 768 (SM)
 **********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 991px) and (min-width: 768px) {
  html {

    body {

      #layout {

        h2 {
          margin: 75px 0 50px;
          font-size: 30px;
        }

        h3 {
          font-size: 22px;
          margin: 50px 0 22px;
        }

        h4 {
          font-size: 18px;
          margin: 35px 0 12px;
        }
      }
    }
  }
}




////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * EXTRA SMALL DEVICES : 767 & LESS (SM)
 **********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 767px){

  html {

    body {

      #layout {
        overflow: hidden;

        h2 {
          margin: 75px 0 50px;
          font-size: 30px;
        }

        h3 {
          font-size: 22px;
          margin: 50px 0 22px;
        }

        h4 {
          font-size: 18px;
          margin: 35px 0 12px;
        }
      }
    }
  }
}