////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * COMMON TO ALL SIZES OF DEVICES
 **********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * IMPORTS & VARIABLES
 **********************************************************************************************************************/
@import 'app.front';

html {

  body {

    #layout {

      #content.schedule {

        .schedules {

          .slot {
            width: 35px;
            height: 35px;
            border-top: solid 2px transparent;
            border-bottom: solid 2px transparent;

            &.start {
              border-top: 2px solid #F9F9F9;
            }
            &.stop {
              border-bottom: 2px solid #F9F9F9;
            }
            &.suaps {
              background-color: #1abc9c;
            }
            &.rowing_school {
              background-color: #339dff;
            }
            &.competition {
              background-color: #ea6153;
            }
            &.all_publics {
              background-color: #a66bbe;
            }
          }

          .legend {
            margin: 20px 0;
            display: table;

            .line {
              display: table-cell;
              vertical-align: middle;
              padding-right: 30px;

              .name {
                padding-left: 5px;
              }
            }
          }

          .day {
            border-left: solid #fff 1px;
            border-right: solid #fff 1px;
            border-top: 0;
            border-bottom: 0;

            &:first-of-type {
              border-left: 0;
            }

            &:last-of-type {
              border-right: 0;
            }

            table {
              width: 100%;
              margin: 0;

              tr:nth-of-type(odd) {
                background-color: #dddddd;
              }
            }
          }

          .informations {
            margin-top: 60px;
          }
        }
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * EXTRA LARGE DEVICES DESKTOPS : 1920 & MORE
 **********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@media screen and (min-width: 1920px) {

}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * LARGE DEVICES DESKTOPS : 1919 <=> 1200 (LG)
 **********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 1919px) and (min-width: 1200px) {

}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * MEDIUM DEVICES DESKTOPS : : 1199 <=> 992 (MD)
 **********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 1199px) and (min-width: 992px) {

}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * SMALL DEVICES TABLETS : 991 <=> 768 (SM)
 **********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 991px) and (min-width: 768px) {

  html {

    body {

      #layout {

        #content.schedule {

          .schedules {

            .legend {

              .line {
                padding-right: 0;
                display: block;
                margin-bottom: 5px;

                .slot {
                  width: 25px;
                  height: 25px;
                }
              }
            }
          }
        }
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * EXTRA SMALL DEVICES : 767 & LESS (SM)
 **********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 767px) {
  html {

    body {

      #layout {

        #content.schedule {

          .schedules {

            .slot {
              width: 5px;
              height: 18px;

              &.hour {
                font-size: 10px;
                width: 25px;
                padding: 0;
              }

              .day {
                display: block;
                visibility: hidden;
                width: 10px;
                margin: 0 auto;
              }

              span.day:first-letter {
                visibility: visible;
              }
            }

            .legend {

              .line {
                padding-right: 0;
                display: block;
                margin-bottom: 5px;

                .slot {
                  width: 20px;
                  height: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}
