/***********************************************************************************************************************
 * VARIABLES OVERRIDES
 **********************************************************************************************************************/
$btn-default-border: #aeb6cb;
$btn-default-color: #fff;
$btn-default-bg: #aeb6cb;
$breadcrumb-separator: "> ";

/***********************************************************************************************************************
 * PATH MODIFICATION
 **********************************************************************************************************************/
$icon-font-path: "../../fonts/bootstrap/";
$fa-font-path: "../../fonts/fontawesome";
$lato-font-path: '/fonts/lato';

/***********************************************************************************************************************
 * IMPORTS
 **********************************************************************************************************************/
@import '../vendor/bootstrap-sass-official/assets/stylesheets/bootstrap';
@import '../vendor/fontawesome/scss/font-awesome';
@import '../vendor/lato-font/scss/public-api';

/***********************************************************************************************************************
 * FONT DEFINITION
 **********************************************************************************************************************/
@include lato-include-font('black');
@include lato-include-font('medium');
@include lato-include-font('light');
@include lato-include-font('thin');
$font-size: 16px;
$font-size-small: 14px;

/***********************************************************************************************************************
 * MIXINS
 **********************************************************************************************************************/
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin spin($time) {
  -webkit-animation: spin $time linear infinite;
  -moz-animation: spin $time linear infinite;
  animation: spin $time linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@mixin fadeIn($time) {
  -webkit-animation: fadeIn $time; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeIn $time; /* Firefox < 16 */
  -ms-animation: fadeIn $time; /* Internet Explorer */
  -o-animation: fadeIn $time; /* Opera < 12.1 */
  animation: fadeIn $time;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@mixin fadeOut($duration) {
  -webkit-animation: fadeOut $duration; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeOut $duration; /* Firefox < 16 */
  -ms-animation: fadeOut $duration; /* Internet Explorer */
  -o-animation: fadeOut $duration; /* Opera < 12.1 */
  animation: fadeOut $duration;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Internet Explorer */
@-ms-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/***********************************************************************************************************************
 * GENERAL
 **********************************************************************************************************************/

html {
  height: 100%;

  body {
    @include lato-font('light');
    font-size: $font-size;
    height: 100%;

    #layout {
      position: relative;

      h1, h2, h3, h4, h5, h6 {
        margin: 10px 0;
        @include lato-font('thin');
        color: #5a5a5a;
        text-align: left;
      }

      h2 {

        &:first-of-type {
          margin-top: 0;
        }
      }

      .capitalize {
        text-transform: uppercase;
      }

      p {
        font-size: $font-size;
        @include lato-font('light');
      }

      p, ul, ol {
        margin: 15px 0;
      }

      .quote {
        @include lato-font('light', italic);

        &.help-block{
          color: $brand-primary;
        }

        b {
          @include lato-font('medium', italic);
        }
      }

      .bg-dark {
        background-color: $gray-dark;
      }

      .help-block {
        font-size: $font-size-small;
      }

      .underline {
        text-decoration: underline;
      }

      .btn, a.btn {
        @include lato-font('light');
      }

      .noscript {
        background-color: #761c19;
        padding: 30px;
        color: #FFFFFF;
        margin-bottom: 30px;

        h3 {
          margin: 0 0 5px;
          color: #fff;
        }
      }

      a {

        &:hover {
          text-decoration: none;
          @include transition(0.2s ease);
        }

        &:focus {
          text-decoration: none;
        }
      }

      img {

        &:hover {
          @include transition(0.2s ease);
        }
      }

      b, strong {
        @include lato-font('medium');
      }

      #content {

        ol, ul:not('.nav') {
          padding: 0;

          p {
            margin: 0;
          }

          li {
            margin: 0 0 0 25px;
            padding: 0;
          }
        }

        ul {

          &.pagination {
            margin: 30px 0 20px;

            li {
              margin: inherit;
            }
          }
        }
      }

      .fill {
        height: 100%;
        min-height: 100%;
      }

      .table {

        td {
          vertical-align: middle;

          &.actions {

            form {
              margin: 0 0 0 5px;
            }
          }
        }
      }

      .no-padding {
        padding: 0;
      }

      .display-table {
        display: table;
        width: 100%;
        max-width: 100%
      }

      .table-cell {
        display: table-cell;
        vertical-align: middle;
      }

      .table-row {
        display: table-row;
        vertical-align: middle;
      }

      hr {
        margin: 20px 0 50px;
      }

      i.fa {
        font-size: inherit;
        color: inherit;
      }

      .box_shadow {
        @include box-shadow(0px 0px 7px 0px rgba(0, 0, 0, .7));
      }

      .box_shadow_inset {
        @include box-shadow(inset 0px 0px 7px 0px rgba(0, 0, 0, .7));
      }

      .return {
        padding: 45px 0 0;

        a {
          padding: 20px 0;

          button {
            @include border-radius(50%);
            width: 35px;
            height: 35px;
            background-color: #fff;
            padding: 0;

            i.fa {
              font-size: 25px;
              color: #337ab7;
            }
          }

          span {
            text-transform: uppercase;
          }

          &:hover {
            opacity: 0.7;
          }
        }

      }

      .btn {

        &:hover {
          @include transition(0.2s ease);
        }
      }

      .modal {

        h3 {
          color: inherit;
          margin: 5px 0;
        }
      }

      .btn-rounded {
        padding: 0;
        width: 33px;
        height: 33px;
        @include border-radius(50%);

        &.btn-lg {
          width: 41px;
          height: 41px;
        }

        &.btn-sm {
          width: 28px;
          height: 28px;
        }

        &.btn-xs {
          width: 22px;
          height: 22px;
        }
      }

      .btn-file {
        position: relative;
        overflow: hidden;

        input[type=file] {
          position: absolute;
          top: 0;
          right: 0;
          min-width: 100%;
          min-height: 100%;
          font-size: 100px;
          text-align: right;
          filter: alpha(opacity=0);
          opacity: 0;
          outline: none;
          background: white;
          cursor: inherit;
          display: block;
        }
      }

      .btn-group {

        .btn {

          &.toggle {
            @extend .btn-default;
            @include lato-font('light');

            &.active {
              @extend .btn-primary;

              &.active {
                background-color: $btn-primary-bg;
                border-color: $btn-primary-border;
              }
            }
          }
        }
      }

      label {
        font-weight: normal;
        @include lato-font('medium');

        &.required {
          position: relative;

          &:after {
            content: "*";
            color: $brand-danger;
            position: absolute;
            right: -10px;
            top: 0;
          }
        }
      }

      .swipe-group {
        position: relative;

        .swipe-label {
          width: auto;
          @include border-radius(0 $input-border-radius $input-border-radius 0);
          margin-right: 10px;
        }

        label.swipe-btn {
          margin-top: 4px;
        }

        .swipe-action-icon {
          position: absolute;
          top: 8px;
          left: 55px;
        }
      }

      .swipe {
        display: none;

        + .swipe-btn {
          margin: 0;
          outline: 0;
          width: 50px;
          height: 26px;
          position: relative;
          cursor: pointer;
          user-select: none;
          background: #ccc;
          border-radius: 2em;
          padding: 2px;
          @include transition(0.4s ease);

          &:after, &:before {
            position: relative;
            display: block;
            content: "";
            width: 50%;
            height: 100%;
          }

          &:after {
            left: 0;
            border-radius: 50%;
            background: #fff;
            @include transition(0.2s ease);
          }

          &:before {
            display: none;
          }
        }
        &:checked {

          + .swipe-btn {
            background: $btn-primary-bg;

            &:after {
              left: 50%;
            }
          }
        }
      }

      #lang_switcher {
        position: absolute;
        top: 30px;
        right: 60px;

        .dropdown-menu {
          min-width: unset;
          padding: 0;
          margin: 10px 0 0;
          right: 0;
          left: auto;

          a {
            padding: 10px 15px;

            .flag {
              padding-right: 5px;
            }
          }
        }
      }
    }
  }

}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * EXTRA LARGE DEVICES DESKTOPS : 1920 & MORE
 **********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (min-width: 1920px) {

  html {

    body {

      #layout {

        h2 {
          margin: 100px 0 65px;
          font-size: 45px;
        }

        h3 {
          font-size: 30px;
          margin: 65px 0 30px;
        }

        h4 {
          font-size: 22px;
          margin: 50px 0 15px;
        }
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * LARGE DEVICES DESKTOPS : 1920 <=> 1919 (LG)
 **********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 1919px) and (min-width: 1200px) {

  html {

    body {

      #layout {

        h2 {
          margin: 100px 0 65px;
          font-size: 45px;
        }

        h3 {
          font-size: 30px;
          margin: 65px 0 30px;
        }

        h4 {
          font-size: 22px;
          margin: 50px 0 15px;
        }
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * MEDIUM DEVICES DESKTOPS : : 1199 <=> 992 (MD)
 **********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 1199px) and (min-width: 992px) {

  html {

    body {

      #layout {

        h2 {
          margin: 75px 0 50px;
          font-size: 30px;
        }

        h3 {
          font-size: 22px;
          margin: 50px 0 22px;
        }

        h4 {
          font-size: 18px;
          margin: 35px 0 12px;
        }
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * SMALL DEVICES TABLETS : 991 <=> 768 (SM)
 **********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 991px) and (min-width: 768px) {
  html {

    body {

      #layout {

        h2 {
          margin: 75px 0 50px;
          font-size: 30px;
        }

        h3 {
          font-size: 22px;
          margin: 50px 0 22px;
        }

        h4 {
          font-size: 18px;
          margin: 35px 0 12px;
        }
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * EXTRA SMALL DEVICES : 767 & LESS (SM)
 **********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 767px) {

  html {

    body {

      #layout {
        overflow: hidden;

        h2 {
          margin: 75px 0 50px;
          font-size: 30px;
        }

        h3 {
          font-size: 22px;
          margin: 50px 0 22px;
        }

        h4 {
          font-size: 18px;
          margin: 35px 0 12px;
        }

        #lang_switcher {
          position: relative;
          top: auto;
          right: auto;
          max-width: 290px;
          margin: 30px auto -15px;
          padding: 0 15px;
          text-align: right;
        }
      }
    }
  }
}