////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * COMMON TO ALL SIZES OF DEVICES
 **********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * IMPORTS & VARIABLES
 **********************************************************************************************************************/
@import 'app.front';

html {

  body {

    #layout {

      #content.login {

        .form_container {

          .logo {
            width: 100%;
            height: 340px;
            display: block;
            @include border-radius(3%);
            background-color: #337ab7;
            border-color: #2e6da4;
            padding: 30px 0;

            &:hover {
              background-color: #286090;
              border-color: #204d74;
            }
          }

          h1 {
            margin: 30px 0;
          }

          .others_actions {
            margin-top: 10px;
          }

          .cancel {
            margin-top: 15px;
          }
        }
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * EXTRA LARGE DEVICES DESKTOPS : 1920 & MORE
 **********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (min-width: 1920px) {
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * LARGE DEVICES DESKTOPS : 1919 <=> 1200 (LG)
 **********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 1919px) and (min-width: 1200px) {
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * MEDIUM DEVICES DESKTOPS : : 1199 <=> 992 (MD)
 **********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 1199px) and (min-width: 992px) {
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * SMALL DEVICES TABLETS : 991 <=> 768 (SM)
 **********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 991px) and (min-width: 768px) {
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * EXTRA SMALL DEVICES : 767 & LESS (SM)
 **********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 767px) {

  html {

    body {

      #layout {

        #content.login {
          height: auto;

          .container {
            height: auto;

            div.display-table {
              display: inherit;
              height: auto;

              .form_container {
                display: inherit;

                .form_capsule {
                  max-width: 290px;
                  margin: 30px auto;

                  .logo {
                    height: 260px;
                    padding: 17px 0;

                    img {
                      width: 240px;
                      height: 224px;
                    }
                  }

                  h1 {
                    font-size: 29px;
                  }

                  .others_actions {
                    margin: 20px 0;

                    a {
                      display: block;
                      float: none !important;
                      margin-top: 10px;
                    }
                  }

                  .cancel {
                    float: none !important;
                  }
                }
              }
            }
          }

        }
      }
    }
  }
}