////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * COMMON TO ALL SIZES OF DEVICES
 **********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

/***********************************************************************************************************************
 * IMPORTS & VARIABLES
 **********************************************************************************************************************/
@import 'app.front';

#content.news-list {

  .text-content{

    .categories {
      margin: - 30px 0 45px;

      a {

        &:after {
          content: " - ";
          color: #000;
        }

        &:last-of-type {

          &:after {
            content: "";
          }
        }

        &.selected {
          @include lato-font('medium');
        }
      }
    }

    .table {

      tbody {

        tr.news {

          td {
            text-align: justify;
            border: 0;
            height: 220px;
          }

          .img, .content, .button {
            vertical-align: middle;

            a {
              padding: 0;
              background-color: transparent;
              border: 0;

              &:hover {
                opacity: 0.7;
                @include transition(opacity 0.2s ease);
              }
            }
          }

          .img {
            padding-left: 40px;

            img {
              @include border-radius(50%);
              border: dashed 1px;
              padding: 10px;
            }
          }

          .content {

            h3 {
              margin: 5px 0;
            }

            .date, .category, .comments {
              display: inline-block;
            }

            .category {
                margin-left: 20px;
            }

            .comments {
              color: #337ab7;
              margin-left: 20px;
            }

            .sum_up {
              margin-top: 8px;
            }
          }

          .button {
            padding-right: 40px;

            button {
              @include border-radius(50%);
              width: 60px;
              height: 60px;
              background-color: transparent;
              border: solid 1px #ccc;

              i.fa {
                font-size: 40px;
                color: #337ab7;
              }
            }
          }
        }
      }

      tfoot {

        tr.pagination-container {

          td {
            padding: 0;
            border-top: 0;
          }
        }
      }
    }
  }
}

#content.news-detail {

  .text-content {

    .container {

      h2 {
        margin-bottom: 10px;
      }

      .date {
        margin-bottom: 45px;
      }

      .return {

        button {
          background-color: transparent;
          border: solid 1px #ccc;
        }
      }
    }
  }
}




////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * EXTRA LARGE DEVICES DESKTOPS : 1921 & MORE
 **********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (min-width: 1921px){

}





////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * LARGE DEVICES DESKTOPS : 1920 <=> 1200 (LG)
 **********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 1920px) and (min-width: 1200px){

}




////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * MEDIUM DEVICES DESKTOPS : : 1199 <=> 992 (MD)
 **********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 1199px) and (min-width: 992px){

}





////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * SMALL DEVICES TABLETS : 991 <=> 768 (SM)
 **********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 991px) and (min-width: 768px){

}





////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * EXTRA SMALL DEVICES : 767 & LESS (SM)
 **********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 767px){

  #content.news-list {

    .text-content {

      .table {

        tr.news {

          td.content {
            padding: 30px 20px;

            div.date, div.category, div.comments {
              display: block;
              margin: 0;
            }

            .button.mobile {
              padding: 10px 0 0;

              button {
                @include border-radius(6px);
                width: auto;
                height: auto;

                & > i.fa {
                  font-size: 16px;
                }
              }
            }
          }
        }
      }
    }
  }
}