////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * COMMON TO ALL SIZES OF DEVICES
 **********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

/***********************************************************************************************************************
 * IMPORTS & VARIABLES
 **********************************************************************************************************************/
@import 'app.front';


html {

  body {

    #layout {

      #content.schedule {

        .schedules {

          .slot {
            width: 35px;
            height: 35px;
            border-top: solid 2px transparent;
            border-bottom: solid 2px transparent;

            &.start {
              border-top: 2px solid #F9F9F9;
            }
            &.stop {
              border-bottom: 2px solid #F9F9F9;
            }
            &.suaps {
              background-color: #1abc9c;
            }
            &.rowing-school {
              background-color: #339dff;
            }
            &.competition {
              background-color: #ea6153;
            }
            &.all-publics{
              background-color: #a66bbe;
            }
          }

          .legend {
            margin: 20px 0;

            .title {
              padding: 0 15px 0 0;
            }

            table {
              margin: 0 15px;

              tr {

                .name {
                  padding: 0 10px;
                }
              }
            }
          }

          .day {
            border: solid #fff 1px;

            &:first-of-type {
              border-left: 0;
            }

            &:last-of-type {
              border-right: 0;
            }

            table{
              width: 100%;
              margin: 0;
            }
          }

          .informations {
            margin-top: 60px;
          }
        }
      }
    }
  }
}


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * EXTRA LARGE DEVICES DESKTOPS : 1921 & MORE
 **********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@media screen and (min-width: 1921px){

}






////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * LARGE DEVICES DESKTOPS : 1920 <=> 1200 (LG)
 **********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 1920px) and (min-width: 1200px){

}



////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * MEDIUM DEVICES DESKTOPS : : 1199 <=> 992 (MD)
 **********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 1199px) and (min-width: 992px){

}





////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * SMALL DEVICES TABLETS : 991 <=> 768 (SM)
 **********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 991px) and (min-width: 768px){

}





////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * EXTRA SMALL DEVICES : 767 & LESS (SM)
 **********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 767px){

}