////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * COMMON TO ALL SIZES OF DEVICES
 **********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


/***********************************************************************************************************************
 * IMPORTS & VARIABLES
 **********************************************************************************************************************/
@import 'app.front';
$background_img_2560 : '/img/home/una_club_background_img.jpg';
$background_img_1919 : '/img/home/una_club_background_img.jpg';
$background_img_1199 : '/img/home/una_club_background_img.jpg';
$background_img_991 : '/img/home/una_club_background_img.jpg';
$background_img_767 : '/img/home/una_club_background_img.jpg';

/***********************************************************************************************************************
 * GENERAL
 **********************************************************************************************************************/
#content.home{

  #carousel{
    position: relative;
    @include gradient-radial(#0D1417, #111822);

    .glide__wrapper{
      width: 100%;
      position: absolute;

      .glide__track{
        padding: 0;
        margin: 0;

        .glide__slide{
          background-color: transparent;
          margin: 0;

          section{
            background-repeat: no-repeat;
            background-position: center center;
            position: relative;

            .background_responsive_img, .slide_content{
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
            }

            .slide_content{
              z-index: 1;

              div{
                display: table;
                width: 100%;
                vertical-align: middle;

                div{
                  display: table-cell;
                  vertical-align: middle;
                  color: #fff;

                  .picto{
                    @include border-radius(50%);
                  }

                  .title{
                    @include lato-font('medium');
                    text-transform: uppercase;
                    color: #fff;
                    text-align: center;
                  }

                  .quote{
                    @include lato-font('thin');
                  }
                }
              }
            }

            .background_responsive_img{
              opacity: 0.3;
              z-index: 0;
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center center;
            }
          }
        }
      }
    }

    .glide__bullets{
      padding: 0;
      bottom: 5%;
    }
  }

  .text-content{

    &#last_news{
      background-color: #F7F7F7;

      & .container hr {
        margin: 20px 0 20px;
      }

      .table {
        margin: 0;

        tr {

          &.news {

            td {
              text-align: justify;
              border: none;
            }

            .img, .content, .button {
              vertical-align: middle;

              a {
                padding: 0;
                @include border-radius(50%);
                background-color: transparent;

                &:hover {
                  opacity: 0.7;
                  @include transition(opacity 0.2s ease);
                }
              }
            }

            .img {

              img {
                @include border-radius(50%);
                border: dashed 1px;
                padding: 10px;
              }
            }

            .content {

              h3 {
                margin: 5px 0 0 0;
              }

              .date {
                margin-top: 2px;
              }

              .sum_up {
                margin-top: 8px;
              }
            }

            .button {

              button {
                @include border-radius(50%);
                width: 60px;
                height: 60px;
                background-color: #fff;

                i.fa {
                  font-size: 40px;
                  color: #337ab7;
                }
              }
            }
          }
        }
      }
    }

    &#una-club{
      margin-bottom: 0;

      .embed-responsive{
        margin-top: 30px;
      }
    }
  }
}








////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * EXTRA LARGE DEVICES DESKTOPS : 1920 & MORE
 **********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (min-width: 1920px){

  #content.home {

    div#carousel {
      margin-top: -100px;

      .glide__wrapper {

        .glide__track {

          .glide__slide {

            section {

              .slide_content {

                div {

                  div {

                    .picto {
                      border: dashed 2px #fff;
                      padding: 12px;
                    }

                    .title {
                      font-size: 45px;
                      letter-spacing: 10px;
                      margin: 40px 0 25px;
                    }

                    .quote {
                      font-size: 24px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .text-content {

      &#last_news {

        h2 {
          margin-bottom: 30px;
        }

        .table {

          tr.news {

            td {
              height: 220px;
            }

            td.img {
              padding-left: 40px;
            }

            td.button {
              padding-right: 40px;
            }

            td.content {

              h3 {
                margin: 5px 0;
              }

              .date, .category, .comments {
                display: inline-block;
              }

              .category {
                margin-left: 20px;
              }

              .comments {
                color: #337ab7;
                margin-left: 20px;
              }

              .sum_up {
                margin-top: 8px;
              }
            }
          }
        }
      }
    }
  }
}








////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * LARGE DEVICES DESKTOPS : 1919 <=> 1200 (LG)
 **********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 1919px) and (min-width: 1200px) {

  #content.home {

    div#carousel {
      margin-top: -50px;

      .glide__wrapper {

        .glide__track {

          .glide__slide {

            section {

              .slide_content {

                div {

                  div {

                    .picto {
                      border: dashed 2px #fff;
                      padding: 12px;
                    }

                    .title {
                      font-size: 45px;
                      letter-spacing: 10px;
                      margin: 40px 0 25px;
                    }

                    .quote {
                      font-size: 24px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .text-content {

      &#last_news {

        h2 {
          margin-bottom: 30px;
        }

        .table {

          tr.news {

            td {
              height: 220px;
            }

            td.img {
              padding-left: 40px;
            }

            td.button {
              padding-right: 40px;
            }
          }
        }
      }
    }
  }
}








////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * MEDIUM DEVICES DESKTOPS : : 1199 <=> 992 (MD)
 **********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 1199px) and (min-width: 992px){

  #content.home {

    div#carousel {
      margin-top: -50px;

      .glide__wrapper {

        .glide__track {

          .glide__slide {

            section {

              .slide_content {

                div {

                  div {

                    .picto {
                      border: dashed 2px #fff;
                      padding: 12px;
                      width: 230px;
                    }

                    .title {
                      font-size: 30px;
                      letter-spacing: 5px;
                      margin: 30px 0 15px;
                    }

                    .quote {
                      font-size: 18px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .text-content {

      &#last_news {

        .table {

          tr.news {

            td {
              height: 180px;
            }

            td.img {
              padding-left: 30px;
            }

            td.button {
              padding-right: 30px;
            }
          }
        }
      }
    }
  }
}







////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * SMALL DEVICES TABLETS : 991 <=> 768 (SM)
 **********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 991px) and (min-width: 768px){

  #content.home {

    div#carousel {
      margin-top: -50px;

      .glide__wrapper {

        .glide__track {

          .glide__slide {

            section {

              .slide_content {

                div {

                  div {

                    .picto {
                      border: dashed 2px #fff;
                      padding: 12px;
                      width: 230px;
                    }

                    .title {
                      font-size: 30px;
                      letter-spacing: 5px;
                      margin: 30px 0 15px;
                    }

                    .quote {
                      font-size: 18px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .text-content {

      &#last_news {

        .table {

          tr.news {

            td {
              height: 0;
            }

            td.img {
              padding-left: 0;
            }

            td.button {
              padding-right: 0;
            }
          }
        }
      }
    }
  }
}







////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * EXTRA SMALL DEVICES : 767 & LESS (SM)
 **********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 767px){

  #content.home {

    div#carousel {
      margin-top: -20px;

      .glide__wrapper {

        .glide__track {

          .glide__slide {

            section {

              .slide_content {

                div {

                  div {
                    width: 320px;
                    padding: 0 15px;

                    .picto {
                      border: dashed 2px #fff;
                      padding: 12px;
                      width: 230px;
                    }

                    .title {
                      font-size: 25px;
                      letter-spacing: 5px;
                      margin: 30px 0 15px;
                    }

                    .quote {
                      font-size: 16px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .text-content {

      &#last_news {
        margin-bottom: 0;

        .table {

          tr.news {

            &:nth-of-type(3) {

              td {
                padding-top: 25px;
              }
            }

            &:nth-of-type(2) {
              border-bottom: 1px solid #eeeeee;

              td {
                padding-bottom: 35px;
              }
            }

            td {
              height: 0;
            }

            .img {
              padding-left: 0;
            }

            .button.mobile {

              button {
                @include border-radius(6px);
                height: auto;
                width: 100%;
                border-color: #aeb6cb;

                & > i.fa {
                  font-size: 16px;
                }
              }
            }
          }
        }
      }
    }
  }
}