////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * COMMON TO ALL SIZES OF DEVICES
 **********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * IMPORTS & VARIABLES
 **********************************************************************************************************************/
@import 'app.front';

html {

  body {

    #layout {

      #content.login {

        .form_container {

          .form_capsule {
            width: 360px;
            margin: 0 auto;

            .logo {
              height: 360px;
              padding: 10px;
              @include border-radius(7%);
              border: dashed 1px $gray-light;

              div {
                @include border-radius(7%);
                @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);

                &:hover {
                  @include transition(0.2s ease);
                }
              }
            }

            h1 {
              margin: 30px 0;
            }

            .others_actions {
              margin-top: 10px;
            }

            .cancel {
              margin-top: 15px;
            }
          }
        }
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * EXTRA SMALL DEVICES : 767 & LESS (SM)
 **********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 767px) {

  html {

    body {

      #layout {

        #content.login {
          height: auto;

          .container {
            height: auto;

            div.display-table {
              display: inherit;
              height: auto;

              .form_container {
                display: inherit;

                .form_capsule {
                  width: 290px;
                  margin: 30px auto;

                  .logo {
                    height: 290px;
                    border: none;
                    padding: 0;

                    div {
                      padding: 15px;
                      @include border-radius(5%);

                      img {
                        width: 260px;
                        height: 260px;
                      }
                    }
                  }

                  h1 {
                    font-size: 29px;
                  }

                  .others_actions {
                    margin: 20px 0;

                    a {
                      display: block;
                      float: none !important;
                      margin-top: 10px;
                    }
                  }

                  .cancel {
                    float: none !important;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}