////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * COMMON TO ALL SIZES OF DEVICES
 **********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


/***********************************************************************************************************************
 * IMPORTS & VARIABLES
 **********************************************************************************************************************/
@import 'app.front';
$background_img_2560 : '/img/home/una_club_background_img.jpg';
$background_img_1920 : '/img/home/una_club_background_img.jpg';
$background_img_1199 : '/img/home/una_club_background_img.jpg';
$background_img_991 : '/img/home/una_club_background_img.jpg';
$background_img_767 : '/img/home/una_club_background_img.jpg';

/***********************************************************************************************************************
 * GENERAL
 **********************************************************************************************************************/
#content.home{

  #carousel{
    position: relative;
    @include gradient-radial(#0D1417, #111822);

    .fill{
      height: 100% !important;
      min-height: 100% !important;
    }

    .glide__wrapper{

      .glide__track{
        padding: 0;
        margin: 0;

        .glide__slide{
          background-color: transparent;

          section{
            background-repeat: no-repeat;
            background-position: center center;
            position: relative;

            .background_responsive_img, .slide_content{
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
            }

            .slide_content{
              z-index: 1;

              div{
                display: table;
                width: 100%;
                vertical-align: middle;

                div{
                  display: table-cell;
                  vertical-align: middle;
                  color: #fff;

                  .picto{
                    @include border-radius(50%);
                  }

                  .title{
                    @include lato-font('medium');
                    text-transform: uppercase;
                  }

                  .quote{
                    @include lato-font('thin');
                  }
                }
              }
            }

            .background_responsive_img{
              opacity: 0.3;
              z-index: 0;
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center center;
            }
          }
        }
      }
    }

    .glide__bullets{
      padding: 0;
      bottom: 5%;
    }
  }

  .text-content{

    &#last_news{
      background-color: #F7F7F7;

      .news{
        display: table;
        text-align: justify;

        .img, .content{
          display: table-cell;
          vertical-align: middle;

          a{
            padding: 0;
            @include border-radius(50%);

            &:hover{
              opacity: 0.7;
              @include transition(opacity 0.2s ease);
            }

            img{
              @include border-radius(50%);
              border: dashed 1px;
              padding: 10px;
            }
          }
        }

        .content{

          h3{
            margin: 5px 0 0 0;
          }

          .date{
            margin-top: 2px;
          }

          .sum_up{
            margin-top: 8px;
          }

          .button{
            margin-top: 10px;
          }
        }
      }
    }

    &#una-club{
      margin-bottom: 0;
      text-align: justify;

      iframe{
        margin-top: 30px;
      }
    }

    &#partners{
      background-color: #F7F7F7;

      .container{
        text-align: center;

        div{
          display: inline-block;

          a{

            &:hover{
              opacity: 0.7;
              @include transition(opacity 0.2s ease);
            }
          }
        }
      }
    }
  }
}








////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * EXTRA LARGE DEVICES DESKTOPS : 1200 & MORE
 **********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@media screen and (min-width: 1921px){

  &#carousel {
    margin-top: -100px;

    .glide__wrapper {

      .glide__track {

        .glide__slide {

          section {

            .slide_content {

              div {

                div {

                  .picto {
                    border: dashed 2px #fff;
                    padding: 12px;
                  }

                  .title {
                    font-size: 45px;
                    letter-spacing: 10px;
                    margin: 40px 0 25px;
                  }

                  .quote {
                    font-size: 24px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .text-content {

    &#last_news {

      h2 {
        margin-bottom: 30px;
      }

      .news {

        .content{
          padding: 0 15px;
        }

        &:last-of-type{

          .content{
            padding: 0 0 0 15px;
          }
        }
      }
    }

    &#una-club{

      iframe{
        height: 630px;
      }
    }

    &#partners{

      .container{

        div{
          padding:  0 70px;
        }
      }
    }
  }
}








////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * LARGE DEVICES DESKTOPS : 1920 <=> 1200 (LG)
 **********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@media screen and (max-width: 1920px) and (min-width: 1200px) {

  &#carousel {
    margin-top: -50px;

    .glide__wrapper {

      .glide__track {

        .glide__slide {

          section {

            .slide_content {

              div {

                div {

                  .picto {
                    border: dashed 2px #fff;
                    padding: 12px;
                  }

                  .title {
                    font-size: 45px;
                    letter-spacing: 10px;
                    margin: 40px 0 25px;
                  }

                  .quote {
                    font-size: 24px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .text-content {

    &#last_news {

      h2 {
        margin-bottom: 30px;
      }

      .news {

        .content{
          padding: 0 15px;
        }

        &:last-of-type{

          .content{
            padding: 0 0 0 15px;
          }
        }
      }
    }

    &#una-club{

      iframe{
        height: 630px;
      }
    }

    &#partners{

      .container{

        div{
          padding:  0 60px;
        }
      }
    }
  }
}








////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * MEDIUM DEVICES DESKTOPS : : 1199 <=> 992 (MD)
 **********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 1199px) and (min-width: 992px){

  &#carousel {
    margin-top: -50px;

    .glide__wrapper {

      .glide__track {

        .glide__slide {

          section {

            .slide_content {

              div {

                div {

                  .picto {
                    border: dashed 2px #fff;
                    padding: 12px;
                    width: 230px;
                  }

                  .title {
                    font-size: 30px;
                    letter-spacing: 5px;
                    margin: 30px 0 15px;
                  }

                  .quote {
                    font-size: 18px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .text-content {

    &#last_news {

      .news {

        .content{
          padding: 0 15px;
        }

        &:last-of-type{
          padding: 0 15px 0 30px;

          .content{
            padding: 0 0 0 15px;
          }
        }
      }
    }

    &#una-club{

      iframe{
        height: 530px;
      }
    }

    &#partners{

      .container{

        div{
          padding:  0 40px;
        }
      }
    }
  }
}







////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * SMALL DEVICES TABLETS : 991 <=> 768 (SM)
 **********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 991px) and (min-width: 768px){

  &#carousel {
    margin-top: -50px;

    .glide__wrapper {

      .glide__track {

        .glide__slide {

          section {

            .slide_content {

              div {

                div {

                  .picto {
                    border: dashed 2px #fff;
                    padding: 12px;
                    width: 230px;
                  }

                  .title {
                    font-size: 30px;
                    letter-spacing: 5px;
                    margin: 30px 0 15px;
                  }

                  .quote {
                    font-size: 18px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .text-content {

    &#last_news {

      .news {

        .content{
          padding: 30px 0 5px 15px;
        }
      }
    }

    &#una-club{

      iframe{
        height: 400px;
      }
    }

    &#partners{

      .container{

        div{
          padding:  0 10px;
        }
      }
    }
  }
}







////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/***********************************************************************************************************************
 * EXTRA SMALL DEVICES : 767 & LESS (SM)
 **********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 767px){

  &#carousel {
    margin-top: -20px;

    .glide__wrapper {

      .glide__track {

        .glide__slide {

          section {

            .slide_content {

              div {

                div {
                  width: 320px;
                  padding: 0 15px;

                  .picto {
                    border: dashed 2px #fff;
                    padding: 12px;
                    width: 230px;
                  }

                  .title {
                    font-size: 25px;
                    letter-spacing: 5px;
                    margin: 30px 0 15px;
                  }

                  .quote {
                    font-size: 16px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .text-content {

    &#last_news {

      .news {
        margin: 15px 0;

        .content{
          padding: 0 0 0 15px;
        }

        .button{

          button{
            width: 100%;
          }
        }
      }
    }

    &#una-club{

      iframe{
        height: 400px;
      }
    }

    &#partners{

      .container{

        div{
          padding: 10px;

          a{

            img{
              height: 50px;
            }
          }
        }
      }
    }
  }
}