.icon {
  display: inline-block;
  font-size: 25px;
}

@font-face {
  font-family: "iconfont";
  src: url("/fonts/icons/iconfont.eot?6518c28c36c4bc59d3148079f9699c77?#iefix") format("embedded-opentype"),
  url("/fonts/icons/iconfont.woff2?6518c28c36c4bc59d3148079f9699c77") format("woff2"),
  url("/fonts/icons/iconfont.woff?6518c28c36c4bc59d3148079f9699c77") format("woff");
}

.icon {
  line-height: 1;
}

.icon:before {
  font-family: iconfont !important;
  font-style: normal;
  font-weight: normal !important;
  vertical-align: top;
}

.icon-blackboard:before {
  content: "\f101";
}
.icon-collaboration:before {
  content: "\f102";
}
.icon-dumbbell-with-weights-outline:before {
  content: "\f103";
}
.icon-exercise:before {
  content: "\f104";
}
.icon-group:before {
  content: "\f105";
}
.icon-mansion:before {
  content: "\f106";
}
.icon-multiple-user-avatars:before {
  content: "\f107";
}
.icon-music-control-settings-button:before {
  content: "\f108";
}
.icon-rowing:before {
  content: "\f109";
}
.icon-school-building:before {
  content: "\f10a";
}
.icon-school-bus:before {
  content: "\f10b";
}
.icon-team:before {
  content: "\f10c";
}
